{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/add.css'%}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h1 class="animated">Add Content</h1>
        <form action="{% url 'addct'%}"  method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="group">
                <label>Title</label><br>
                <input type="text"name="title"class="in" id="input">
            </div>
            <br>
            <div class="group">
                <label>Content</label><br>
                <textarea name="content" rows="5" class="in"></textarea><br>
            </div>
            <div class="group">
                <label>Image</label><i class="fa-solid fa-image" id="im"></i>
                <input type="file" name="image" id=""><br><br>
                <button type="submit" id="new">Submit</button><br>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>