

body {
    background: linear-gradient(to bottom right, #4a4a4a, #e9e9e9); 
    color: #212529; 
    font-family: Arial, sans-serif; 
}
.navbar {
    background-color:black; 
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.btn {
    margin-left: 10px;
}
.hero {
    color: white;
    padding: 100px 0;
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
img{
   width:100%;
    height: 200px;
}
.card {
    flex: 0 1 calc(33.333% - 20px);
    margin: 10px;
    box-sizing: border-box; 
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
h1 {
    font-size: 2.5em;
    text-align: center; 
    margin: 20px 0; 
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5); 
    background-color: rgba(255, 255, 255, 1); 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.animated {
    animation: fadeIn 2s ease-in-out;
    color: #00bfff;
    font-weight: bold;
}
form {
    background-color: #ffffff; 
    border-radius: 10px;
    padding: 30px;
    color: #121212;
    margin: 40px auto;
    width: 80%; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
h1{
    text-align: center;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.animated {
    animation: fadeIn 2s ease-in-out;
    color: #000000;
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    margin: 10px 0;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #00bcd4; 
}

button {
    background-color: #00bcd4; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0097a7; 
    transform: translateY(-2px); 
}
form:hover {
    transform: scale(1.02);
}
footer{
    background-color: #121212;
}